/* Escribe tu css aqui */
body {
	margin: 0;
}
.box {
	height: 100px;
	width: 300px;
	padding: 10px;
	margin: 10px;
	display: inline-block;

}
.yellow {
	background-color: yellow;
}
.red {
	background-color: red;
}